.git
.gitignore

node_modules
dist
build
coverage
*.tsbuildinfo

.env
.env.*
deployment/server.env

server
deployment/certs

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
